@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Fraunces:opsz,wght@9..144,500;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Fraunces:opsz,wght@9..144,500&display=swap');

.first {
  display: flex;
  width: 100%;
  margin-bottom: -5px;
}
.first .branding {
  flex: 1;
}
.img-branding {
  width: 50%;
}
img {
  width: 100%;
  max-width: 100%;
}
.branding {
  margin: auto 8%;
  padding-right: 5rem;
}
.branding h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
.branding p {
  font-family: 'Barlow', sans-serif;
  color: hsl(213, 9%, 39%);
}
.viva {
  flex-direction: row-reverse !important;
}
